//! **************************************************************************
// Written by: Map P.58f on Thu Jun 07 16:00:20 2018
//! **************************************************************************

SCHEMATIC START;
COMP "segment<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "segment<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "segment<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "segment<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "segment<4>" LOCATE = SITE "N15" LEVEL 1;
COMP "segment<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "segment<6>" LOCATE = SITE "E14" LEVEL 1;
COMP "dot" LOCATE = SITE "P16" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "master_clock" LOCATE = SITE "T9" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "reset_btn" LOCATE = SITE "M13" LEVEL 1;
NET "master_clock_BUFGP/IBUFG" BEL "master_clock_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

